@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latothin';
    src: url('fonts/lato-thin-webfont.woff2') format('woff2'),
         url('fonts/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
         url('fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('fonts/lato-italic-webfont.woff2') format('woff2'),
         url('fonts/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('fonts/lato-light-webfont.woff2') format('woff2'),
         url('fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{margin: 0px; padding: 0px;}

.back{
	position: absolute;
	z-index: -1;
	width: 100%;
	top: 0;
}
input[type=text] {
	position: absolute;
	margin-top: 250px;
	margin-left: -200px;
	width: 400px;
    border: 0px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
	font-family: latolight;
	padding: 12px 20px 12px 30px;
	
	background-image: url("images/loupe.png");
	background-repeat: no-repeat;
	background-size: 44px;
    background-color: white;
	background-position: 100%;
	
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
	-webkit-transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, margin-left 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 600px;
	margin-left: -300px;
}