@font-face {
  font-family: 'Crush';
  src: url('DKBrushCrush.eot?#iefix') format('embedded-opentype'),  url('DKBrushCrush.otf')  format('opentype'),
	     url('DKBrushCrush.woff') format('woff'), url('DKBrushCrush.ttf')  format('truetype'), url('DKBrushCrush.svg#DKBrushCrush') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{margin: 0px; padding: 0px;}

p{
	font-family: Crush;
	top: 300px;
	color: white;
}

#name{
	text-shadow: 2px 2px 2px #222222;
	position: absolute;
	top: 180px;
	left: 100px;
	font-size: 80px;
}

#slogan{
	text-shadow: 2px 2px 2px #222222;
	color: #AAAAAA;
	position: absolute;
	top: 320px;
	left: 110px;
	font-size: 37.7px;
}

.back{
	position: relative;
	z-index: -1;
	width: 100%;
	top: -100px;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}