@font-face {
    font-family: avenir;
    src: url(font/avenir.otf);
}

div {
    display: block;
}

body
{
	background-color : #ecf0f1;
	margin: 0;
	padding: 0;
}

.topRect {
	border-spacing: 0;
    background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: rgb(235, 235, 235);
    height: 85px;
    position: absolute;
    width: 100%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.name
{
	font-family : avenir, sans-serif;
	color : #2980b9;
	font-size : 2.3em;
	text-align : center;
}
.profil{
	text-align: -webkit-center;
}
img.photo {
	position: relative;
	top: 120px;
    width: 200px;
	height: 200px;
	border-radius : 50%;
}