@font-face {
    font-family: avenir;
    src: url(font/Avenir.otf);
}

body
{
	background-color : #bdc3c7;
}

h1
{
	font-family : avenir, sans-serif;
	color : #bdc3c7
	text-align : center;
}

#toprectangle{
    height: 68px;
	width: 200px;
    background-color: blue;
}